@import url(http://fonts.googleapis.com/css?family=Satisfy);

.vine, .instagram, .youtube {
	height: 300px;
  width: 300px;
  border: 2px solid;
  text-align: center;
  color: #ecf0f1;
  font-size: 3em;
  font-family: 'Satisfy', cursive;
}

a:hover.channel-link {
  text-decoration: none;
}

a:hover.channel-link > .instagram{
  background-color: #bdc3c7;
}

a:hover.channel-link > .vine{
  background-color: #16a085;
}

a:hover.channel-link > .youtube{
  background-color: #f39c12;
}

.channel{
  padding-top: 80px;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
}

.channel-text {
  margin-top: 40%;
}

.vine {
  background-color: #2ecc71;
}

.instagram {
  background-color: #34495e;
}

.youtube {
  background-color: #e74c3c;
}

.video-modes {
  margin-top: 5px;
}

.mode-enabled {
  color: #bdc3c7;
}
