@import url(http://fonts.googleapis.com/css?family=Satisfy);

.vine, .instagram, .youtube {
	height: 300px;
  width: 300px;
  border: 2px solid;
  text-align: center;
  color: #ecf0f1;
  font-size: 3em;
  font-family: 'Satisfy', cursive;
}

.channel{
  padding-top: 80px;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
}

.channel-text {
  margin-top: 40%;
}

.vine {
  background-color: #2ecc71;
}

.instagram {
  background-color: #34495e;
}

.youtube {
  background-color: #e74c3c;
}

