/* ==========================================================================
   Application
   ========================================================================== */

/* Apply a natural box layout model to all elements.
 * http://paulirish.com/2012/box-sizing-border-box-ftw/
 */

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

footer.wrapper {
  padding-top: 30px;
}