<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>About us <small>...just who are you guys?</small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-5">
      <img data-src="holder.js/200x180" alt="Image 1">
        <h2>Person 1</h2>
        <p>Dummy Text..</p>
      </div>
      <div class="col-md-5 col-md-offset-2">
      <img data-src="holder.js/200x180" alt="Image 2">
        <h2>Person 2</h2>
        <p> Dummy Text..</p>
      </div>
    </div>
  </div>
</div>