<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>About us <small>...just who are you guys?</small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-5">
      <img data-src="holder.js/200x180" alt="Image 1">
        <h2>Mike Chau</h2>
        <p>Web Application Developer</p>
        <a href="https://github.com/mikechau" target="_blank"><small>Github</small></a> |
        <a href="https://twitter.com/money_mikec" target="_blank"><small>Twitter</small></a> |
        <a href="https://www.linkedin.com/in/mikechaumc/" target="_blank"><small>Linkedin</small></a>
      </div>
      <div class="col-md-5 col-md-offset-2">
      <img data-src="holder.js/200x180" alt="Image 2">
        <h2>Brian DeVries</h2>
        <p>Front End Developer</p>
        <a href="https://github.com/briandv" target="_blank"><small>Github</small></a> |
        <a href="https://twitter.com/briandevries_" target="_blank"><small>Twitter</small></a> |
        <a href="https://ca.linkedin.com/in/briandv/" target="_blank"><small>Linkedin</small></a>
      </div>
    </div>
  </div>
</div>