<div class="channel container">
  <div class="row">

    <div class="col-md-4">
      <a href="/channel/vine" class="channel-link">
        <div class="vine">
          <div class="channel-text">vine</div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/channel/instagram" class="channel-link">
        <div class="instagram">
          <div class="channel-text">instagram</div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/channel/youtube" class="channel-link">
        <div class="youtube">
          <div class="channel-text"><em>youtube</em></div>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="content-home-body">
  <div class="container">
    <h2>Pick a channel and prepare for take off! <i class="fa fa-plane"></i></h2>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <img src="images/chaplin-logo.png" alt="">
        <h3>Chaplin.js</h3>
        <p>The front-end portion of this application uses <a href="http://chaplinjs.org/" target="_blank">Chaplin.js</a>, it is a client-side JavaScript framework.</p>
      </div>
      <div class="col-sm-4">
        <img src="images/rails-logo.png" alt="">
        <h3>Ruby on Rails</h3>
        <p>The back-end portion of this application uses <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> as the API server.</p>
      </div>
      <div class="col-sm-4">
        <img src="images/heroku-logo.png" alt="">
        <h3>Heroku</h3>
        <p>This application is hosted on <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
      </div>
    </div>
  </div>
</div>