<div class="channel container">
  <div class="row">

    <div class="col-md-4">
      <div class="vine">
        <div class="channel-text">vine</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="instagram">
        <div class="channel-text">instagram</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="youtube">
        <div class="channel-text"><em>youtube</em></div>
      </div>
    </div>

  </div>
</div>