<div class="channel container">
  <div class="row">

    <div class="col-md-4">
      <a href="/channel/vine" class="channel-link">
        <div class="vine">
          <div class="channel-text">vine</div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/channel/instagram" class="channel-link">
        <div class="instagram">
          <div class="channel-text">instagram</div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/channel/youtube" class="channel-link">
        <div class="youtube">
          <div class="channel-text"><em>youtube</em></div>
        </div>
      </a>
    </div>

  </div>
</div>