<hr />
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <p>
        Built with 
        <a title="ChaplinJS" href="http://www.chaplinjs.org/">Chaplin</a>, 
        <a title="Ruby on Rails" href="http://www.rubyonrails.org/">Ruby on Rails</a>, 
        and 
        <a title="Twitter Bootstrap" href="http://www.getbootstrap.com/">Twitter Bootstrap</a>. 
        Powered by <a title="Heroku" href="https://www.heroku.com/">Heroku</a>.
      </p>
      <p>Vineosaur. Umber. 2014. All rights belong to their respective owners.</p>
    </div>
  </div>
</div>