<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <hr />
      <p>
        Built with 
        <a title="Chaplin" href="http://www.chaplinjs.org/">Chaplin</a>, 
        <a title="Rails" href="http://www.rubyonrails.org//">Ruby on Rails</a>, 
        <a title="Bootstrap" href="http://www.getbootstrap.com/">Bootstrap</a>, and 
        <a title="Font Awesome" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. 
        Powered by <a title="Heroku" href="https://www.heroku.com/">Heroku</a>.
      </p>
      <p>Vineosaur. All rights belong to their respective owners.</p>
    </div>
  </div>
</div>