/* ==========================================================================
   Home Page
   ========================================================================== */

.video-container {
  position: relative;
}

.video-js {
  background: none;
}

.content-video-bg {
  background-image: url(../images/pokemon-bg.gif);
  background-size: cover;
}

.vjs-default-skin .vjs-loading-spinner {
  opacity: 1;
  -webkit-animation: none;
     -moz-animation: none;
          animation: none;

  &:before {
    content: '';
    background: url(../images/loader.gif) no-repeat;
  }
}

.button {
  position: absolute;
  top: 40%;

  &.btn-left {
    left: 0;
  }

  &.btn-right {
    right: 0;
  }
}