/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar-brand {
  padding-left: 50px;
  background-image: url(../images/bulbasaur-logo.gif);
  background-position: left;  
  background-size: 40px auto;
  background-repeat: no-repeat;
}

.navbar {
  margin-bottom: 0;
}