<div class="content-video-bg">
  <div class="container">
    <div class="row">
      
      <div class="col-md-10 col-md-offset-1">
        <div class="video-container">

          <div class="button btn-left">
            <button class="btn" name="btn-previous">
              <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
          </div>

          <video id="video-player" class="video-js vjs-default-skin vjs-big-play-centered center-block"
            controls preload="auto" autoplay data-setup="{}">
             <source src="{{source}}" type='video/mp4' />
          </video>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h1>
                  <span class="text-success">
                    Vineosaur used vine whip!
                  </span>
                </h1>
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <div id="video-subview-container"></div>
              </div>
            </div>
          </div>

          <div class="button btn-right">
            <button class="btn" name="btn-next">
              <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>