<div class="container">
  <div class="row">
    <div class="col-md-1">
      <button class="btn-lg" name="btn-previous">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="col-md-10">
      <div class="video-container">

        <video id="video-player" class="video-js vjs-default-skin vjs-big-play-centered center"
          controls preload="auto" autoplay data-setup="{}">
           <source src="{{source}}" type='video/mp4' />
        </video>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h1>
                <span class="text-success">
                  Vineosaur used vine whip!
                </span>
              </h1>
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div id="video-subview-container"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-1">
      <button class="btn-lg" name="btn-next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>