<div class="content-video-bg">
  <div class="container">
    <div class="row">
      
      <div class="button btn-left">
        <button class="btn" name="btn-previous">Previous</button>
      </div>

      <div class="button btn-right">
        <button class="btn" name="btn-next">Next</button>
      </div>

      <div class="col-md-12">
      
        <div class="col-md-10 col-md-offset-1">
          <div class="video-container">

            <video id="video-player" class="video-js vjs-default-skin vjs-big-play-centered center-block"
              controls preload="auto" autoplay data-setup="{}">
              <source src="{{source}}" type='video/mp4' />
            </video>

            <div class="row">
              <div class="col-md-8">
                <div id="video-subview-container"></div>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn pull-right endless-btn endless-disabled" name="endless-mode">Turn On Endless Mode</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-home-body">
  <div class="container">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, neque!</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, deserunt, reprehenderit dignissimos tempore excepturi aspernatur temporibus officiis odio cum non.</p>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <img src="images/chaplin-logo.png" alt="">
        <h3>Chaplin</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, tempore, modi non doloribus eveniet aspernatur! <a href="http://chaplinjs.org/" target="_blank">Chaplin</a></p>
      </div>
      <div class="col-sm-4">
        <img src="images/rails-logo.png" alt="">
        <h3>Ruby on Rails</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, tempore, modi non doloribus eveniet aspernatur! <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></p>
      </div>
      <div class="col-sm-4">
        <img src="images/heroku-logo.png" alt="">
        <h3>Heroku</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, tempore, modi non doloribus eveniet aspernatur! <a href="https://www.heroku.com/" target="_blank">Heroku</a></p>
      </div>
    </div>
  </div>
</div>